{{#section 'title'}}
	Sửa  sản phẩm
{{/section}}

{{#if layoutVM.isLogged1}}
{{#with category}}
<form action="" method="POST" role="form" class="form-manager">
	<div class="form-group">
		<label for="">#</label>
		<input type="text" class="form-control" id="" name="ProId" value="{{ProID1}}" readonly>
	</div>
	<div class="form-group">
		<label for="">Tên sách</label>
		<input type="text" class="form-control" id="" name="ProName" value="{{ProName1}}">
	</div>

<div class="form-group">
		<label for="">Nhà Xuất Bản</label>
		<input type="text" class="form-control" id="" name="ProNXB" value="{{ProNXB1}}">
	</div>
	<div class="form-group">
		<label for="">Thể loại</label>
		<input type="text" class="form-control" id="" name="ProKind" value="{{ProKind1}}">
	</div>
	<div class="form-group">
		<label for="">Giá</label>
		<input type="text" class="form-control" id="" name="Price" value="{{Price1}}">
	</div>
	<div class="form-group">
		<label for="">Số lượng</label>
		<input type="text" class="form-control" id="" name="Quantity" value="{{Quantity1}}">
	</div>

	<div class="form-group">
		<label for="">Mô tả</label>
		<input type="text" class="form-control" id="" name="TinyDes" value="{{TinyDes1}}">
	</div>

	<div class="form-group" style="margin-bottom: 2px; margin-top: 20px;">
		<label for="">Mô tả chi tiết</label>
	</div>
	<textarea name="FullDes" rows="10" cols="100" class="form-control" placeholder="Mô tả chi tiết">{{TinyDes1}}</textarea>

	<a class="btn btn-default view" href="/category/list" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		View List
	</a>
	<button type="submit" class="btn btn-default save">
		<span class="glyphicon glyphicon-save"></span>
		Update
	</button>
</form>
{{/with}}

{{else}}
	<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Thông báo!</strong> Bạn không có quyên truy cập
</div>
{{/if}}