{{#section 'title'}}
	Quản lý sản phẩm
{{/section}}

{{#if layoutVM.isLogged1}}
<table class="table table-hover">
	<thead>
		<tr>
			<th class="col-md-1">#</th>
			<th>Tên sách</th>
			<th>Nhà xuất bản</th>
			<th>Thể loại</th>
			<th>Giá</th>
			<th>Số lượng</th>
		</tr>
	</thead>
	<tbody>
		{{#each categories}}
		<tr>
			<td>{{ProID1}}</td>
			<td>{{ProName1}}</td>
			<td>{{ProNXB1}}</td>
			<td>{{ProKind1}}</td>
			<td>{{Price1}}</td>
			<td>{{Quantity1}}</td>
			<td class="text-right">
				<a class="btn btn-danger btn-xs" href="/category/delete?id={{ProID1}}" role="button">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
				<a class="btn btn-primary btn-xs" href="/category/edit?id={{ProID1}}" role="button">
					<span class="glyphicon glyphicon-wrench"></span>
				</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<a class="btn btn-large btn-block btn-primary" href="/category/add" role="button">
	<span class="glyphicon glyphicon-plus"></span>
	Thêm danh mục mới
</a>

{{else}}
	<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Thông báo!</strong> Bạn không có quyên truy cập
</div>
{{/if}}







